body {
  max-width: 1300px;
  margin: auto;
  font-size: 16px;
  /* background-color: red; */
}

header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

section > header {
  height: 20px;
  /* background-color: red; */
}

nav ul {
  display: flex;
  flex-direction: row;
  gap: 20px;
  list-style-type: none;
  font-size: 18px;
}

a {
  text-decoration: none;
  color: black;
  font-size: 18px;
}
a:hover {
  text-decoration: underline solid;
}

main.hero-headers {
  height: 50vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h1 {
  margin: 0;
  line-height: 0.9;
  font: 700;
  font-size: 40px;
}
p {
  font-size: 20px;
}
section aside {
  display: flex;
  border: 2px solid black;
}

/* .top-border {
  border-top: 2px solid black;
} */

.right-border {
  border-right: 2px solid black;
}

.top-border {
}

/* aside div {
  padding-left: 20px;
} */

.square-border {
  border: 2px solid black;
  height: 150px;
  max-width: 250px;
  border-radius: 2rem;
  box-sizing: border-box;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
}

section {
  height: 300px;
  /* background-color: grey; */
  padding: 35px 0;
}
#reviews div.testimonial-wrap {
  max-width: 1000px;
  display: flex;
  flex-direction: row;
  gap: 20px;
  margin: auto;
}

footer {
  height: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.box {
  padding: 10px;
}

strong {
  font-size: 20px;
}
